<style>
    h5{margin: 0px;}
    b{display:inline-block;}
    select{display: : inline-block;}
    .inrow{display: inline-block;}
    .mb{padding-left: 12px;padding-right: 12px;padding-top: 6px;padding-bottom: 6px;}
    .myB{margin: 0px;}
    img{height: 100px;width: 100px;margin: 10px;}
    .myRow{display: inline-block;}
    a{padding: 0px;}
</style>

@model Password
@using PasswordKeeper.Controllers

<div class="container">
    <br>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h5><a class="nav-link" asp-action="DashboardUser" asp-controller="User">Home</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" asp-action="LogOut" asp-controller="Home">Log Out</a></h5>
        </li>
    </ul>
    <hr>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <h5><a class="nav-link disabled" tabindex="-1" aria-disabled="true">Passwords</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" asp-action="DashboardCreditCard" asp-controller="CreditCard">Credit Cards</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" asp-action="DashboardPersonalInformation" asp-controller="PersonalInformation">Personal Information</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" asp-action="DashboardContact" asp-controller="Contact">Contacts</a></h5>
        </li>
        <li class="nav-item">
            <h5><a class="nav-link" asp-action="DashboardNote" asp-controller="Note">Notes</a></h5>
        </li>
    </ul>
    <hr>
    <h1 class="text-center">PASSWORDS</h1>
    <br>
    <div>
        <p class="text-center">
            <a class="btn btn-primary align-middle" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                <b>ADD PASSWORD</b>
            </a>
        </p>
        <br>
        <div class="collapse myWidth" id="collapseExample1">
            <div class="card card-body">
                <h3>Add Password</h3>
                <form asp-action="CreatePassword" asp-controller="Password" method="post">
                    <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
                    <div class="form-group">
                        <span asp-validation-for="Website"></span>
                        <h5><label asp-for="Website"></label></h5>
                        <input class="form-control form-control-lg" asp-for="Website">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Email"></span>
                        <h5><label asp-for="Email"></label></h5>
                        <input class="form-control form-control-lg" asp-for="Email">
                    </div>
                    <div class="form-group">
                        <h5><label  asp-for="UserName"></label></h5>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@@</div>
                            </div>
                            <input type="text" class="form-control form-control-lg" id="inlineFormInputGroupUsername2" placeholder="Username" asp-for="UserName">
                        </div>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="ThePassword"></span>
                        <h5><label asp-for="ThePassword"></label></h5>
                        <input class="form-control form-control-lg" asp-for="ThePassword">
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="PasswordNotes"></span>
                        <h5><label asp-for="PasswordNotes"></label></h5>
                        <input class="form-control form-control-lg" asp-for="PasswordNotes">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><h5>ADD</h5></button>
                    </div>
                </form>
            </div>
        </div>
    </div>      
    <div id="accordion">
        @foreach(var pass in @ViewBag.AllPasswords)
        {
            <div class="card">
                <div class="card-header text-center" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link " data-toggle="collapse" data-target="#collapse@(pass.PasswordId)" aria-expanded="true" aria-controls="collapse@(pass.PasswordId)">
                            <h5>@pass.Website.ToUpper()</h5>
                        </button>
                    </h5>
                </div>
                <div id="collapse@(pass.PasswordId)" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div >
                                    @{
                                        var compressedWebsite = @pass.Website;
                                        @compressedWebsite = compressedWebsite.Replace(" ", String.Empty).ToLower();
                                    }
                                    @for (var i =0; i< @ViewBag.Logos.Length; i++)
                                    {
                                        @if(@ViewBag.Logos[i] == compressedWebsite)
                                        {
                                            <img class="myRow" src="~/img/logos/@(compressedWebsite).png" alt="@pass.Website Logo">
                                        }
                                    }
                                    <h3 class="myRow align-middle myFont"><b>@pass.Website.ToUpper()</b></h3>
                                </div>
                                <br>
                                <p class="myRow align-middle"><b>EMAIL:  </b></p>
                                <p class="myRow align-middle" id="p1">@pass.Email</p>
                                <br>
                                @if(pass.UserName != null)
                                {
                                    <p class="myRow align-middle"><b>USERNAME:  </b></p>
                                    <p class="myRow align-middle" id="p1">@pass.UserName</p>
                                    <br>
                                }
                                <p class="myRow align-middle"><b>PASSWORD (without Decryption):  </b></p>
                                <p class="myRow align-middle" id="p1">@pass.ThePassword</p>
                                <br>
                                <p class="myRow align-middle"><b>PASSWORD:  </b></p>
                                <p class="myRow align-middle" id="p1">@EncryptDecrypt.Decrypt(@pass.ThePassword)</p>
                                <br>
                                <p class="myRow align-middle"><b>WEBSITE:</b>
                                <a class="myRow align-top" href="https://www.@(compressedWebsite).com">www.@(compressedWebsite).com</a></p>
                                <br>
                                @if(@pass.PasswordNotes != null)
                                {
                                    <p><b>NOTES: </b> @pass.PasswordNotes</p>
                                }
                            </div>
                            <div class="col text-right">
                                <a asp-action="DeletePassword" asp-controller="Password" asp-route-passwordId="@pass.PasswordId" class=" mb text-center badge badge-danger"><h5><b>DELETE</b></h5></a>
                                <br>
                                <br>
                                <div>
                                    <p class="myRow text-right">
                                        <a class="mb btn btn-success align-middle" data-toggle="collapse" href="#collapseEdit@(pass.PasswordId)" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            <b style="font-size: 20px; border:0px;">EDIT</b>
                                        </a>
                                    </p>
                                    <div class="collapse myWidth" id="collapseEdit@(pass.PasswordId)">
                                        <div class="card card-body">
                                            <h3 class="text-left"><b>EDIT </b></h3>
                                            <form action="/password/@pass.PasswordId/update" method="post">
                                                <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">
                                                <div class="form-group">
                                                    <span asp-validation-for="Website"></span>
                                                    <h5 class="text-left"><label asp-for="Website"></label></h5>
                                                    <input class="form-control form-control-lg" asp-for="Website" value="@pass.Website">
                                                </div>
                                                <div class="form-group">
                                                    <span asp-validation-for="Email"></span>
                                                    <h5 class="text-left"><label asp-for="Email"></label></h5>
                                                    <input class="form-control form-control-lg" asp-for="Email" value="@pass.Email">
                                                </div>
                                                <div class="form-group">
                                                    <h5 class="text-left"><label asp-for="UserName"></label></h5>
                                                    <div class="input-group mb-2 mr-sm-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">@@</div>
                                                        </div>
                                                        @if(@pass.UserName == null)
                                                        {
                                                            <input type="text" class="form-control form-control-lg" id="inlineFormInputGroupUsername2" placeholder="Username" asp-for="UserName">
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control form-control-lg" id="inlineFormInputGroupUsername2" value="@pass.UserName" asp-for="UserName">
                                                        }
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <span asp-validation-for="ThePassword"></span>
                                                    <h5 class="text-left"><label asp-for="ThePassword"></label></h5>
                                                    <input class="form-control form-control-lg" asp-for="ThePassword" value="@EncryptDecrypt.Decrypt(@pass.ThePassword)">
                                                </div>
                                                <div class="form-group">
                                                    <span asp-validation-for="PasswordNotes"></span>
                                                    <h5 class="text-left"><label asp-for="PasswordNotes"></label></h5>
                                                    <input class="form-control form-control-lg" asp-for="PasswordNotes" value="@pass.PasswordNotes">
                                                </div>
                                                <div  class="form-group" style="margin-bottom: 0px;">
                                                    <button type="submit" class="btn btn-success"><h5><b>UPDATE</b></h5></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>